<!doctype html>
<html lang="pt-br">
  <head>
    <title>Artigos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <head>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="">
                GuiaPress
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                <i class="fas fa-bars text-white"></i>
              </button>

            <div class="collapse navbar-collapse" id="nav-principal">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a href="/admin/categories" class="nav-link">Categorias</a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/articles" class="nav-link">Artigos</a>
                  </li>

                </ul>
                </div>
      

        </nav>
    </head>
    <section>
        <div class="container">

            <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Açoes</th>

            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article=>{ %> 
               
                <tr>

                  <td><%= article.id %> </td>
                  <td><%= article.title %> </td>
                  <td><%= article.slug %> </td>
                  <td><%= article.category.title %> </td>
                  <td> 
                       
                    <a href="/admin/articles/edit/<%= article.id %> " class="btn btn-warning"><i class="fas fa-edit" ></i> Editar</a> 
                    <form action="/articles/delete" method="POST" onsubmit="confirmarDelete(event,this)"" style="display: inline;">
                        
                        <input type="hidden" name="id" value="<%= article.id %> ">
                        <button class="btn btn-danger" ><i class="fas fa-trash-alt" ></i> Excluir</button> 
                    </form>
                
                
                  </td>


                </tr>

              <% }) %> 
        </tbody>

    </table>



        </div>
    </section>

    <script>
        function confirmarDelete(event, form){
            event.preventDefault();
            var decision = confirm('Tem certeza que deseja deletar este artigo?');

            if(decision){
                form.submit();
            }
        }

    </script>
    
        
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>